@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

.lora-uniquifier{
    font-family: "Lora", system-ui;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
} 

body {
    width: 100%;
    height: 100%;

      background-color: transparent;
      background-image: radial-gradient(#000000 1px, #e5e5f7 1px);
      background-size: 30px 30px;
      width: 100%;
      height: 100%;
    
}

/*HEADER*/
/* Estilo do menu de navegação */
nav {
    background-color: #000000;
    padding: 10px 0;
    box-shadow: 0px 8px 16px 0px rgba(252, 252, 252, 0.2);
    z-index: 1;
    position: fixed;
    width: 100%;
    top: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: left;
}

nav ul li {
    position: relative; /* Necessário para o posicionamento do dropdown */
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    padding: 10px;
    display: block; /* Torna o link clicável em toda a área */
    transition: color 0.3s;
    font-family: "New Amsterdam", sans-serif;
    font-weight: 400;
    font-style: normal;
}

nav ul li a:hover {
    color: #ffffff;
}

/* Estilo do dropdown */
nav ul li .dropdown-content {
    display: none; /* Esconde o submenu inicialmente */
    position: absolute; /* Posiciona o submenu em relação ao item pai */
    background-color: #333;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1; /* Garante que o submenu fique acima de outros elementos */
    min-width: 160px;
    padding: 0;
}

nav ul li .dropdown-content li {
    margin: 0;
}

nav ul li .dropdown-content li a {
    padding: 10px 15px;
}

nav ul li .dropdown-content li a:hover {
    background-color: #575757; /* Cor de fundo ao passar o mouse sobre o submenu */
}

/* Exibe o submenu ao passar o mouse sobre o item principal */
nav ul li:hover .dropdown-content {
    display: block;
}

  .form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 457px;
    padding: 20px;
    border-radius: 80px; 
    transition: .4s ease-in-out;
    margin: 20vh auto;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #000000;
    color: #fff;
    font-size: 19px;
    font-family: 'Times New Roman', 'Times';
  }
  
  .title {
    font-size: 28px;
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
    color: #00bfff;
  }
  
  .title::before {
    width: 18px;
    height: 18px;
  }
  
  .title::after {
    width: 18px;
    height: 18px;
    animation: pulse 1s linear infinite;
  }
  
  .title::before,
  .title::after {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
    background-color: #00bfff;
  }
  
  .message, 
  .signin {
    font-size: 14.5px;
    color: rgba(255, 255, 255, 0.7);
  }
  
  .signin {
    text-align: center;
  }
  
  .signin a:hover {
    text-decoration: underline royalblue;
  }
  
  .signin a {
    color: #00bfff;
  }
  
  .flex {
    display: flex;
    width: 100%;
    gap: 6px;
  }
  
  .form label {
    position: relative;
  }
  
  .form label .input {
    background-color: #333;
    color: #fff;
    width: 100%;
    padding: 20px 05px 05px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
  }
  
  .form label .input + span {
    color: rgba(255, 255, 255, 0.5);
    position: absolute;
    left: 10px;
    top: 0px;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
  }
  
  .form label .input:placeholder-shown + span {
    top: 12.5px;
    font-size: 0.9em;
  }
  
  .form label .input:focus + span,
  .form label .input:valid + span {
    color: #00bfff;
    top: 0px;
    font-size: 0.7em;
    font-weight: 600;
  }
  
  .input {
    font-size: medium;
  }
  
  
  .nana {
    border: none;
    color: #fff;
    background-image: linear-gradient(30deg, #0400ff, #4ce3f7);
    border-radius: 20px;
    background-size: 100% auto;
    font-family: inherit;
    font-size: 17px;
    padding: 0.6em 1.5em;
   }
   
   .nana:hover {
    background-position: right center;
    background-size: 200% auto;
    -webkit-animation: pulse 2s infinite;
    animation: pulse512 1.5s infinite;
   }
   
   @keyframes pulse512 {
    0% {
     box-shadow: 0 0 0 0 #05bada66;
    }
   
    70% {
     box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
    }
   
    100% {
     box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
    }
   }
   
  .input-icon {
    height: 1.3em;
    width: 1.3em;
    fill: white;
  }
  
  .input-field {
    font-family: "New Amsterdam";
    background: none;
    border: none;
    outline: none;
    width: 100%;
    color: #d3d3d3;
  }